* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1140px;
    margin-inline: auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    position: relative;
    padding: 20px;
    background-color: #ecf0f1;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 25px;
}
.navbar ul li {
    margin: 20px 0;
}
.navbar ul li a {
    color: #fff;
}
/* Toggle Button*/
.hamburger .bar {
    width: 25px;
    height: 3px;
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.navbar {
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    background-color: #7f8c8d;
    width: 100%;
    text-align: center;
    transition: .5s ease;
    overflow-y: scroll;
}

 /*** Active class ***/
.navbar.active {
    height: calc(100vh - 69px);
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
